/mongo-volume/.mongodb/mongosh/64cfdb6a77f3c71184811056_log
/mongo-volume/.mongodb/mongosh/64cfdb6dfa1032a6aaea1055_log
/mongo-volume/.mongodb/mongosh/64cfdb69ff5a96d515d6546e_log
/mongo-volume/_mdb_catalog.wt
/mongo-volume/collection-0-2401745368537716728.wt
/mongo-volume/collection-2-2401745368537716728.wt
/mongo-volume/collection-4-2401745368537716728.wt
/mongo-volume/collection-7-2401745368537716728.wt
/mongo-volume/.mongodb/mongosh/config
/docker-compose.yml
/mongo-volume/.mongodb/mongosh/snippets/index.bson.br
/mongo-volume/index-1-2401745368537716728.wt
/mongo-volume/index-3-2401745368537716728.wt
/mongo-volume/index-5-2401745368537716728.wt
/mongo-volume/index-6-2401745368537716728.wt
/mongo-volume/index-8-2401745368537716728.wt
/mongo-volume/index-9-2401745368537716728.wt
/mongo-volume/diagnostic.data/metrics.2023-08-06T17-42-01Z-00000
/mongo-volume/diagnostic.data/metrics.2023-08-06T17-45-18Z-00000
/mongo-volume/diagnostic.data/metrics.2023-08-19T12-54-48Z-00000
/mongo-volume/mongod.lock
/mongo-volume/.mongodb/mongosh/mongosh_repl_history
/mongo-volume/sizeStorer.wt
/mongo-volume/storage.bson
/mongo-volume/WiredTiger
/mongo-volume/WiredTiger.lock
/mongo-volume/WiredTiger.turtle
/mongo-volume/WiredTiger.wt
/mongo-volume/WiredTigerHS.wt
/mongo-volume/journal/WiredTigerLog.0000000003
/mongo-volume/journal/WiredTigerPreplog.0000000001
/mongo-volume/journal/WiredTigerPreplog.0000000002

metrics.interim
